<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Database 2b2t.org.ru</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/additionalStyles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Форум</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Forum</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Wiki</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Server status</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4 mb-5 text-center">Супер пупер форум</h1>
                    <h4 class="text-center mb-5">Форму и вики по чему угодно, я пока хз по чему</h4>
                    <div class="container mt-5 mb-5 text-center">
                        <button class="btn btn-primary thread-maker mb-2 btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#messageForm" aria-expanded="false" aria-controls="messageForm"> Создать тред </button>
                        <div class="collapse w-75 mx-auto" id="messageForm">
                            <div class="card card-body">
                                <form th:action="@{/makeThread}" th:object="${newThread}" method="post">
                                    <div class="form-group mt-1 mb-2">
                                        <div class="d-flex mb-2">
                                            <input th:field="*{head_thread}" type="text" minlength="2" maxlength="1000" class="form-control w-75 me-2" id="threadHead" placeholder="Тема треда">
                                            <button type="submit" class="btn btn-success btn-sm ml-2">Отправить</button>
                                        </div>
                                        <textarea th:field="*{body}" minlength="2" maxlength="5000" class="form-control" id="threadBody" rows="5" placeholder="Комментарий"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr th:each="thread: ${threads}">
                                <div class="card mb-4 ms-5 me-5">
                                    <div class="card-body">
                                        <div class="small text-muted" th:text="${thread.firstMessageID + ' ' + #temporals.format(thread.dateTime, 'dd-MM-yyyy HH:mm:ss')}"></div>
                                        <h2 class="card-title" th:text="${thread.head_thread}"></h2>
                                        <p class="card-text" th:text="${thread.body}"></p>
                                        <a class="btn btn-primary btn-sm" th:href="@{/{threadId}(threadId=${thread.id})}">Ответить</a>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Core theme JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
