<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simple Sidebar - Start Bootstrap Template</title>

    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/additionalStyles.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Database</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Forum</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/wiki">Wiki</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Server status</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                <div class="ms-auto">
                    <a class="btn btn-outline-primary me-2" href="auth/login">Войти</a>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid accordion" id="mainContainer">
            <div class="container mt-5 mb-5 text-center" sec:authorize="isAuthenticated()">
                <button onclick="topButton()" id="topButton" class="btn btn-primary thread-maker mb-2 btn-sm"
                        type="button" data-bs-toggle="collapse" data-bs-target="#messageFormTop" aria-expanded="false"
                        aria-controls="messageFormTop">Ответить
                </button>
                <div class="accordion-collapse collapse w-75 mx-auto" id="messageFormTop"
                     data-bs-parent="#mainContainer">
                    <div class="card card-body">
                        <form th:action="@{/thread/{id}/sendMessage(id=${thread.id})}" th:object="${newMessage}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group mt-1 mb-2">
                                <textarea th:field="*{message_body}" maxlength="5000" class="form-control"
                                          id="messageAreaTop" rows="5" placeholder="Комментарий" required></textarea>

                                <div id="dropZoneTop" class="border rounded p-3 text-center bg-light">
                                    Перетащите файлы сюда или <label for="fileInputTop" class="text-primary">выберите
                                    файлы</label>.
                                    <input type="file" id="fileInputTop" name="files" class="d-none" multiple>
                                </div>

                                <div id="fileListTop" class="mt-2 d-flex flex-wrap gap-2 justify-content-start">
                                    <ul class="list-unstyled text-start small ps-0"></ul>
                                </div>

                                <button type="submit" class="btn btn-success btn-sm mt-2">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mt-5 mb-4 ms-5 me-5">
                <div class="card-body">
                    <div class="small text-muted"
                         th:text="${thread.firstMessageID + ' ' + #temporals.format(thread.dateTime, 'dd-MM-yyyy HH:mm:ss')}"></div>
                    <h2 class="card-title" th:text="${thread.head_thread}"></h2>
                    <p class="card-text" th:text="${thread.body}"></p>
                </div>
            </div>
            <div class="card mb-4 ms-5 me-5" th:each="message : ${messages}">
                <div class="card-body">
                    <!-- Информация о сообщении (номер и дата-время) – всегда сверху -->
                    <div class="small text-muted"
                         th:text="${message.id + ' ' + #temporals.format(message.dateTime, 'dd-MM-yyyy HH:mm:ss')}">
                    </div>

                    <div th:if="${message.thumbnails.size() > 1}">
                        <div class="d-flex align-items-start mt-2">
                            <div th:each="thumbnail: ${message.thumbnails}" class="attachments">
                                <img th:if="${thumbnail.sourceType == 'image'}"
                                     class="me-4 mt-1"
                                     th:src="'data:image/jpg;base64,' + ${thumbnail.base64Image}"
                                     alt="Thumbnail"
                                     th:attr="data-full-url=@{/api/files/} + ${thumbnail.imageId}"
                                     onclick="loadFullImage(this)"/>

                                <img th:if="${thumbnail.sourceType == 'video'}"
                                     class="me-4 mt-1"
                                     th:src="'data:image/jpg;base64,' + ${thumbnail.base64Image}"
                                     alt="Thumbnail"
                                     th:attr="data-full-url=@{/api/files/} + ${thumbnail.imageId}"
                                     onclick="loadFullVideo(this)"/>
                            </div>
                        </div>
                        <div class="flex-grow-1 mt-3">
                            <p class="card-text" th:text="${message.message_body}"></p>
                        </div>
                    </div>


                    <div th:if="${message.thumbnails.size() == 1}" class="d-flex align-items-start mt-2">
                        <div th:each="thumbnail: ${message.thumbnails}" class="attachments">
                            <img th:if="${thumbnail.sourceType == 'image'}"
                                 class="me-4 mt-1"
                                 th:src="'data:image/jpg;base64,' + ${thumbnail.base64Image}"
                                 alt="Thumbnail"
                                 th:attr="data-full-url=@{/api/files/} + ${thumbnail.imageId}"
                                 onclick="loadFullImage(this)"/>

                            <img th:if="${thumbnail.sourceType == 'video'}"
                                 class="me-4 mt-1"
                                 th:src="'data:image/jpg;base64,' + ${thumbnail.base64Image}"
                                 alt="Thumbnail"
                                 th:attr="data-full-url=@{/api/files/} + ${thumbnail.imageId}"
                                 onclick="loadFullVideo(this)"/>
                        </div>

                        <div class="flex-grow-1">
                            <p class="card-text" th:text="${message.message_body}"></p>
                        </div>
                    </div>

                    <div th:if="${message.thumbnails.size() == 0}" class="mt-2">
                        <p class="card-text" th:text="${message.message_body}"></p>
                    </div>
                </div>
            </div>
            <div class="container mt-5 mb-5 text-center" sec:authorize="isAuthenticated()">
                <button onclick="botButton()" class="btn btn-primary thread-maker mb-2 btn-sm" type="button"
                        data-bs-toggle="collapse" data-bs-target="#messageFormBottom" aria-expanded="false"
                        aria-controls="messageFormBottom">Ответить
                </button>
                <div class="accordion-collapse collapse w-75 mx-auto" id="messageFormBottom"
                     data-bs-parent="#mainContainer">
                    <div class="card card-body">
                        <form th:action="sendMessage" th:object="${newMessage}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group mt-1 mb-2">
                                <textarea th:field="*{message_body}" maxlength="5000" class="form-control"
                                          id="messageAreaBot" rows="5" placeholder="Комментарий" required></textarea>

                                <div id="dropZoneBottom" class="border rounded p-3 text-center bg-light">
                                    Перетащите файлы сюда или <label for="fileInputBottom" class="text-primary">выберите
                                    файлы</label>.
                                    <input type="file" id="fileInputBottom" name="files" class="d-none" multiple>
                                </div>

                                <div id="fileListBottom" class="mt-2 d-flex flex-wrap gap-2 justify-content-start">
                                    <ul class="list-unstyled text-start small ps-0"></ul>
                                </div>

                                <button type="submit" class="btn btn-success btn-sm mt-2">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/thread.js"></script>
</body>
</html>
